<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Citations</title>
</head>
<body>
  <h1>Citations & References</h1>
  <p>This page lists the Images referenced in this project.</p>

  <ol>
    <li>
      Home page
        <ul>
            <li>
                Hero Image: Photo Courtesy of Wikipedia (https://en.wikipedia.org/wiki/Duquesne_Incline)
            </li>
            <li>
                Carsouel Image 1: Photo Courtesy of Rove.me (https://rove.me/to/pittsburgh/monongahela-and-duquesne-inclines)
            </li>
            <li>
                Carsouel Image 2: Photo Courtesy of Dustin Mcgrew Photography (https://dustinmcgrewphoto.com/products/pittsburgh-photos-snowy-duquesne-incline-pittsburgh-art-pittsburgh-picture)
            </li>
            <li>
                Carsouel Image 3: Photo Courtesy of PosterLounge (https://www.posterlounge.com/p/769441.html)
            </li>
            <li>
                Carsouel Image 4: Photo Courtesy of CAMH (https://camh.org/pittsburgh-from-the-duquesne-incline-pittsburgh-pennsylvania/)
            </li>
            <li>
                Carsouel Image 5: Photo Courtesy of Expedia (https://www.expedia.com/Duquesne-Incline-Duquesne-Heights.d6078687.Vacation-Attraction)
            </li>
            <li>
                Carsouel Image 6: Photo Courtesy of DaveDiCello (https://www.davedicello.shop/listing/265914553/selective-color-of-the-duquesne-incline)
            </li>
        </ul>
    </li>
    <li>
        Visit Us page
          <ul>
                <li>
                    Shop Preview Image 1: Photo Courtesy of Duquesne Incline (https://www.duquesneincline.org/index1065.html?page=gift-shop)
                </li>
                <li>
                    Shop Preview Image 2: Photo Courtesy of Duquesne Incline (https://www.duquesneincline.org/index1065.html?page=gift-shop)
                </li>
          </ul>
    </li>
    <li>
        Gift Shop page
          <ul>
                <li>
                    Shop Preview Image 1: Photo Courtesy of Duquesne Incline (https://www.duquesneincline.org/index1065.html?page=gift-shop)
                </li>
                <li>
                    Shop Preview Image 2: Photo Courtesy of Duquesne Incline (https://www.duquesneincline.org/index1065.html?page=gift-shop)
                </li>
                <li>
                    Shop Preview Image 3: Photo Courtesy of Duquesne Incline (https://www.duquesneincline.org/index1065.html?page=gift-shop)
                </li>
          </ul>
    </li>
  </ol>
</body>
</html>
